In [1]:
import pandas as pd

In [12]:
train_df = pd.read_csv('bank_marketing_train.csv', sep=';')
test_df = pd.read_csv('bank_marketing_test.csv', sep=';')

      age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0      58;management;married;tertiary;no;2143;yes;no;...
1      44;technician;single;secondary;no;29;yes;no;un...
2      33;entrepreneur;married;secondary;no;2;yes;yes...
3      47;blue-collar;married;unknown;no;1506;yes;no;...
4      33;unknown;single;unknown;no;1;no;no;unknown;5...
...                                                  ...
45206  51;technician;married;tertiary;no;825;no;no;ce...
45207  71;retired;divorced;primary;no;1729;no;no;cell...
45208  72;retired;married;secondary;no;5715;no;no;cel...
45209  57;blue-collar;married;secondary;no;668;no;no;...
45210  37;entrepreneur;married;secondary;no;2971;no;n...

[45211 rows x 1 columns]

In [7]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 1 columns):
 #   Column                                                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                                                --------------  -----
 0   age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"  45211 non-null  object
dtypes: object(1)
memory usage: 353.3+ KB

In [11]:
train_df.head()

  age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0  58;"management";"married";"tertiary";"no";2143...
1  44;"technician";"single";"secondary";"no";29;"...
2  33;"entrepreneur";"married";"secondary";"no";2...
3  47;"blue-collar";"married";"unknown";"no";1506...
4  33;"unknown";"single";"unknown";"no";1;"no";"n...

In [9]:
#train_df.columns = train_df.iloc[0]
#train_df = train_df.reset_index(drop=True)
#train_df.head()

0 58;"management";"married";"tertiary";"no";2143;"yes";"no";"unknown";5;"may";261;1;-1;0;"unknown";"no"
0  58;"management";"married";"tertiary";"no";2143...
1  44;"technician";"single";"secondary";"no";29;"...
2  33;"entrepreneur";"married";"secondary";"no";2...
3  47;"blue-collar";"married";"unknown";"no";1506...
4  33;"unknown";"single";"unknown";"no";1;"no";"n...